<!DOCTYPE html>
<html lang="en">
<head>
<script src="lib/angular/angular.js"></script>
    <script src="/scripts/art.js"></script>
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/ng-file-upload/angular-file-upload-shim.js"></script>
    <script src="/lib/ng-file-upload/angular-file-upload.js"></script>
    <script src="/scripts/upload.js"></script>

    <!-- Bootstrap -->
    <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/css/default.css" rel="stylesheet">
    <link href="/css/simple-sidebar.css" rel="stylesheet">

<style>

h1 {
    margin-left: 108px;
	}

div {
	/*margin-top: 100px;*/
    /*margin-bottom: 100px;*/
    margin-right: 70px;
    margin-left: 70px;

}
.question {
	color: #4B70BA;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: bold;
}

.answer {
	/*: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
	list-style-type: none;
}

.line { 
	color: black;
	border-width: 2.5px;
	color: #CCCCFF;
	border-style: solid;
}

</style>

</head>

<% include site-head.html %>
<body>

<h1>Log in</h1><br>

<div>
</body>
</html>
