<style> h3{text-align:center;}
	h5{text-align:center;}</style>

	<script>
	function wordWrap(){
	txtFrame.document.body.style.wordWrap = 'break-word';
};
	</script>
	<script>
	function loadTxt(ele, url){
		console.log("HERE");
		console.log(ele);
		console.log(url);
		document.getElementById(ele).value = url;
	}
</script>

<div class="panel panel-primary abisso-panel-primary">
	<div class="panel-heading">
		<h3>{{txtart.title}}</h3>
		<cite><h5> By: {{txtart.artist}}</h5></cite>
	</div>
	<div class="panel-body home-panel fixed-size-panel">
        	<div class="container-fluid">
						<!--<iframe id="txtFrame" name="txtFrame" class="txt-in-panel" frameborder="0" src="{{txtart.location}}" onload = "wordWrap()"></iframe>
					-->
					<button class = "btn-default btn-sm" ng-click = "loadTxt('{{txtart.title}}','{{txtart.location}}')"> </button>
					<p id = "{{txtart.title}}"></p>
					</div>
	</div>

</div>
