<div class = "panel panel-default abisso-panel-primary">
	<div class = "panel-heading text-center">
		<h4> VOTE NOW </h4>
	</div>
	<div class = "panel-body">
		<div class = "container pull-right col-md-6">
			<img class = "img-responsive pull-left" ng-src = "/media/horse.jpg"/>
		</div>
		<div class = "container pull-left col-md-6">
			<img class = "img-responsive pull-right" ng-src = "/media/animals.jpg"/>
		</div>
	</div>
	<div class = "panel-footer text-center">
		<a class="btn btn-primary btn-sm" href="/content/matchup/image" role="button">Vote on this Matchup</a>
	</div>
</div>
